<!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Details</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/design.css' %}">
   
 </head>
 
 
<body>


  
 {% include '/home/runner/The-Adoption-Center/venv/lib/python3.8/site-packages/django/contrib/admin/templates/navbar.html' %}


  
    

 </body>


   
 
 </html>