body 
{
    background-image: url('https://static.wixstatic.com/media/11062b_4b7c9a8e48334d5aad2fd274fddba3bc~mv2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}


ul
{
  list-style-type: none;
  background-color: blue;
  font-size: 18px;
  text-align: center;
}
  
  


li 
{

  display: inline;
   
}


li a 
{
   
   color: white;
   text-align: center;
   padding: 100px;
   text-decoration: none;
  
}


<link rel="stylesheet" href="{% static 'css/Pet-Adoption-Page.css' %}">