<!DOCTYPE html>
<html lang="en">
    <head>
       <meta charset="UTF-8">
       <meta http-equiv="X-UA-Compatible" content="IE=edge">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <title>Favorites</title>
       {% load static %}
       <link rel="stylesheet" href="{% static 'css/design.css' %}">
    </head>
    
    
   <body>
   
    
    <div>
         {% load static %}
         <img src="{% static 'images/logo.png' %}" height="100" width="280"><h1>Harmonics Animal Shelter</h1>
    </div>

      <div class="topnav">
        <a class="active" href="https://the-adoption-center.youknowhowtolov.repl.co/">Home</a>
        <a href="https://The-Adoption-Center.youknowhowtolov.repl.co/adoption">Adoption</a>
        <a href="https://The-Adoption-Center.youknowhowtolov.repl.co/login">Login</a>
        <a href="https://The-Adoption-Center.youknowhowtolov.repl.co/signup">Signup</a>
        <a href="https://The-Adoption-Center.youknowhowtolov.repl.co/contactus">Contact</a>
        <a href="https://The-Adoption-Center.youknowhowtolov.repl.co/favorites">Favorites</a>
        <a href="https://The-Adoption-Center.youknowhowtolov.repl.co/Employee">Employee</a>
        <a href="https://The-Adoption-Center.youknowhowtolov.repl.co/upload">Upload</a>
        
       </div>
  
  
   


<body>

   <div>
       <h2>Favorites</h2>
   </div>


   <div class>
      <p>  Your Currently Selected Favorites</p>
   </div>

  </p>
   <br>
   <br>
  
   <input type="checkbox" id="favorite1" name="favorite1" value="animal">
<label for="favorite1"> Animal # 1</label>
<input type="checkbox" id="favorite2" name="favorite2" value="animal">
<label for="favorite2"> Animal # 2</label>
<input type="checkbox" id="favorite3" name="favorite3" value="animal">
<label for="favorite3">  Animal # 3</label>
<input type="checkbox" id="favorite4" name="favorite4" value="animal">
<label for="favorite4"> etc.</label><br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>


  
   <button type="button" onclick="alert('THe selected animal(s) have been removed from your Favorites.')">Remove From Favorites</button>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
<p style="position: fixed; bottom 0; width: 100%; text-align: center">Email us at <a href="mailto:HarmoniczStudios@gmail.com">HarmoniczStudios@gmail.com</a><br>
          Call us at <a href="tel:4436264625">(443)-6-ANIMAL</a>(443-626-4625)<br>
          Located at <a href="https://maps.google.com/?ll=34.18125953107612, -117.32176563594709" target="_blank">5500 University Pkwy. #JBL254, San Bernardino, CA 92407</a><br></p> 

   
</body>




<footer>

</footer>



</html>