

.u-section-1 .u-sheet-1 {
  min-height: 1423px;
}

.u-section-1 .u-image-1 {
  width: 358px;
  height: 358px;
  background-image: url("{{data.image.url}}");
  background-position: 50% 50%;
  margin: 26px auto 0 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: -303px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 303px auto 0 97px;
}

.u-section-1 .u-list-1 {
  width: 621px;
  margin: -356px 81px 0 auto;
}

.u-section-1 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-auto-columns: calc(50% - 5px);
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  min-height: 338px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 0 10px;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 0 10px;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 0 0 10px;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 0 0 10px;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1083px;
  margin: 99px -39px 60px auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 370px;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px 0;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-8 {
  font-weight: 400;
  margin: 39px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1374px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
  }

  .u-section-1 .u-text-3 {
    font-weight: 400;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
    width: 940px;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 165px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1153px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1133px;
  }

  .u-section-1 .u-list-1 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 982px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 340px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -285px;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  
}