 .u-section-1 {
  background-image: url("images/8401beb2f1c76f3bb4a150066b60e124e7c4bf0dcc76c40406ee06070b78cc55debb44434e2cc7d770ed5b6af431c9acc5b96c3c0dad827fea19f8_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 500px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 426px auto 35px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 572px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 486px;
    margin-bottom: 34px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 438px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 329px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 207px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 472px;
    font-size: 1.5rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 500px;
}

.u-section-2 .u-text-1 {
  text-decoration: none solid rgb(17, 17, 17);
  margin: 67px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    --animation-custom_in-scale: 1;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
  }
} .u-section-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/eeca8fbab5d507eb349f1f865318970451d60d6a84d83e63ff4edbe0f60393afff193ee1ea73948549363653e125e5f179dcb32d480d90c589432d_1280.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 800px;
}

.u-section-3 .u-text-1 {
  background-image: none;
  --animation-custom_in-scale: 1;
  font-size: 2.25rem;
  margin: 486px auto 0;
}

.u-section-3 .u-text-2 {
  background-image: none;
  --animation-custom_in-scale: 1;
  margin: 19px 146px 60px 202px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-3 .u-text-2 {
    width: 826px;
    margin-right: 46px;
    margin-left: 102px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-3 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 239px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 692px;
}

.u-section-4 .u-image-1 {
  width: 473px;
  height: 500px;
  margin: 158px auto 0 97px;
}

.u-section-4 .u-text-1 {
  font-weight: 400;
  --animation-custom_in-scale: 1;
  margin: -330px 299px 0 auto;
}

.u-section-4 .u-text-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 34px 165px 60px 570px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-image-1 {
    width: 500px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 65px;
    margin-left: 470px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-right: 229px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
    margin-left: 315px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-image-1 {
    margin-left: 67px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 172px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 135px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 551px;
  }

  .u-section-4 .u-image-1 {
    width: 359px;
    height: 359px;
    margin-left: 0;
  }

  .u-section-4 .u-text-1 {
    margin-top: -189px;
    margin-right: 108px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
  }
}


.nav justify-content-center
{
  padding-right: 100px;
}


        
#topRightFixed    
{
      position: absolute;
      top: 0;
      right: 0;
}



      button 
      {
        cursor: pointer;
        background: green;
        width: 100%;
        border: 0;
        padding: 10px 15px;
        color: rgb(255, 255, 255);
        font-size: 20px;
        -webkit-transition: 0.3s linear;
        transition: 0.3s linear;
      }

      #logout
      {
           font-size: .8em;
            font-family: 'Oswald', sans-serif;
	          position: relative;
            top: 3px;
            right: -3px;
            bottom: -4px;
            letter-spacing: 3px;
            -webkit-transition: opacity .35s;
      }
      